################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LF995.github.io/FileContentIndex
/.vs/LF995.github.io/v17
/.vs
